In [6]:
'''
@Author: Sudhanshu Kumar
@Date: 15 - 10 - 2024
@Last Modified by: Sudhanshu Kumar
@Last Modified time: 15 - 10 - 2024
@Title: Python program to get first n rows of a dataframe

'''

'\n@Author: Sudhanshu Kumar\n@Date: 15 - 10 - 2024\n@Last Modified by: Sudhanshu Kumar\n@Last Modified time: 15 - 10 - 2024\n@Title: Python program to get first n rows of a dataframe\n\n'

In [7]:
import pandas as pd
import logger

log = logger.logger_init('FirstNRows')

In [8]:
def firstN(data,labels,N):
    """
    Description:
        Function to get first N rows of a dataframe
    Parameters:
        data: on this data operation will be performed
        labels: index for the rows
        N: number of rows to get
    returns:
        required number of rows
        
    """

    df = pd.DataFrame(data,labels)

    return df.head(N)

In [9]:
def main():
    data =  {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, 0, 9, 20, 14.5, 0, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

    print(firstN(data,labels,3))

In [10]:
if __name__=="__main__":
    main()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes